.heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.country {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;

  /* identical to box height, or 67% */

  color: #222831;
}

.updated {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;

  /* identical to box height, or 150% */

  color: #f05454;
}

.time {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;

  /* identical to box height, or 100% */

  color: #000000;
}

.weather-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.details {
  width: 556px;
  height: 285px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  box-shadow: 4px 4px 20px rgba(158, 158, 158, 0.2);
  border-radius: 16px;
}

.condition {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  /* identical to box height, or 100% */

  text-transform: uppercase;

  color: #222831;
}

.cover {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  /* identical to box height, or 150% */

  text-transform: capitalize;

  color: #222831;
}

.feels {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  /* identical to box height, or 150% */

  text-transform: capitalize;

  color: #222831;
}

.text-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.other-details {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  align-items: center;
  flex-wrap: wrap;
}

.temperature__info {
  background: linear-gradient(
      154.6deg,
      #ffd6c9 2.33%,
      rgba(255, 255, 255, 0) 83.9%
    ),
    #ffffff;
  box-shadow: 4px 4px 20px rgba(158, 158, 158, 0.2);
  border-radius: 16px;
  width: 212px;
  height: 131px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pressure__info,
.wind__info,
.humidity__info,
.visibility__info {
  background: #ffffff;
  box-shadow: 4px 4px 20px rgba(158, 158, 158, 0.2);
  border-radius: 16px;
  width: 212px;
  height: 131px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temperature,
.humidity,
.pressure,
.wind,
.visibility {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  /* identical to box height, or 150% */

  color: #9e9e9e;
}

.weather-info-container {
  display: flex;
  justify-content: space-around;
  text-align: left;
  align-items: baseline;
}
textarea {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 8px;
  width: 250px;
  height: 95px;
}

.notes {
  width: 250px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 10px;
}

.note{
  padding:  5px;
  word-wrap: break-word;
  
}
@media screen and (max-width: 414px) {
  .heading {
    flex-direction: column;
    justify-content: baseline;
    padding: 5px;
  }

  .country{
    font-size: 24px;
  }
  .updated,.time  {
    font-size: 14px;
    margin-top: .5px;
  }


  .weather-info-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .weather-info {
    padding: 4px;

  }

  .details {
    width: 380px;
    margin: 20px;
    justify-content: center;

  }

  .condition{
    font-size: 12px;
  }

  .cover {
    font-size: 12px;
  }

  .feels{
    font-size: 12px;
  }

  .title{
    font-size: 14px;
  }

  .other-details {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .pressure__info,
.wind__info,
.humidity__info,
.visibility__info, .temperature__info{
  width: 360px;
  height: 175px;
}

.temperature,
.humidity,
.pressure,
.wind,
.visibility {
  align-items: center;
}
}
